*{
    box-sizing: border-box;
}


/* First Animation*/
#Banner {
    background-image: url("astro.jpg");
    padding: 280px 30px;
    width: 1440px;
    height:80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-duration: 1.5s;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 2rem;
}


#animated {
    transition-property: background-color;
    transition-duration: 3s;
    position:relative;
    top:15em;
    border-radius: 1em;
}

.animated {
    transition-property: background-image;
    transition-duration: 3s;
}

button {
    padding: 0.5rem 1.5rem;
    background-color: #e8e8e800;
    margin-top: 20em;
    color:white;
}

#head{
    font-size: 50px;
}

#blink:hover{
    color: #db4437;
    transform: scale(1.5);
}





/* Second Animation */
.blue{
    --clr: #4285f4;
}

.red{
    --clr: #db4437;
}

.yellow{
    --clr: #f4b400;
}

.green{
    --clr: #0f9d58;
}

body{
    background-color: #636e72;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

h1{
    color: white;
    text-transform: uppercase;
    margin: 30px;
    text-align: center;
    text-shadow: 2px 2px 10px #000;
}

.box{
    background-color: var(--clr);
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height:600px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform:translateX(140%);
    transition: transform 0.4s ease;
    margin-top: 1em;
    scale: 1;  
    margin-bottom: 2em;
}

.box:nth-of-type(even)
{
    transform: translate(-140%);
}


.box.show{
    transform:translateX(0);
    margin-top: 2rem;    
}


.box h2{
    font-size: 45px;
    text-shadow: 2px 2px 3px #000;
}

/*Third Animation*/

.ring {
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 177px;
    left: 0;
    transition: left 4s cubic-bezier(0, 0, 1, 1);
    display: inline-block;

}

